.top-container{
    background-color: #E4F9F5;
    margin-left:0px;
    
}

body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}

.intro{
    width:30%;
    margin:auto;
}

.contact-msg{
    width:40%;
}
p{
    line-height: 2;
    margin:40px auto 40px auto;
}


h1{
    font-family: 'Sacramento', cursive;
    margin:50px auto 0 auto;
    color:#66BFBF;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; 
    color:#11999E;
}

.bottom-cloud{
    position:absolute;
}

.top-cloud{
    padding-bottom: 40px;
    position:relative;
    top:30px;
    left:180px;
}

.skill-row{
    width:50%;
    
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    
    
}
    
.comp-img {
    width:25%
    
}

.fashion-img{
    width:25%;
}

.bottom-container{
    background-color: #66BFBF;
    margin-top:90px;
    padding-top:40px;
    padding-bottom: 30px;
    
}

.footer-link{
    font-size:12px;
    color:#11999E;
    text-decoration:none;
    padding-left:15px;
    padding-right:15px;
    margin-top:50px;
    font-family: 'Montserrat', sans-serif;


}

.bottom-container p{
    color:#EAF6F6;
    margin:0px;
    padding-top:20px;
    font-size: 10px;

}


    .btn {
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 15;
        -moz-border-radius: 15;
        border-radius: 15px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        
      }
      
      .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }

hr{
    width:10%;
    border:dotted #EAF6F6 6px;
    border-bottom:none;
    
    margin:60px auto 60px auto;
}

.profile img{
    width:25%;
    margin-top:60px;
}

.bottom-container a:hover{
    color:#EAF6F6;
}

.skill-row p a{
    text-decoration:none;
    
}

a{
    text-decoration:none;
}

.skill-row p a:hover{
   color:gray;
}
